html,
body,
#root,
main {
  margin: 0;
  height: 100%;
  overflow: scroll;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0px 15px 0px 15px;
  border-bottom: 1px solid rgb(212, 212, 212);
}

.navigation-bar {
  height: 6rem;
}

.navigation-bar img {
  height: 40px;
  transform: translateY(8%);
}

.navigation-bar a:hover {
  border: 2px solid #60dafb;
}

#logo:hover {
  border-bottom: none;
}

nav h1 {
  margin-right: auto;
  font-weight: 700;
}

#logo {
  margin: 0;
  margin-right: auto;
  font-weight: 700;
  font-size: 24px;
}

.navigation-bar a {
  border: 0.3rem solid purple;
  padding: 0.8rem;
  border-radius: 4rem;
  align-items: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  background-color: #8fa9eb55;
  margin-left: 24px;
  font-weight: 500;
  font-size: 12px;
  color: black;
}

.display-items {
  font-size: 12px;
  font-weight: 500;
  margin-left: 24px;
  border-radius: 100px;
  -webkit-appearance: none;
  padding: 6px 14px 6px 14px;
  border: 1px solid #dbdbdb;
}

.display-items:hover {
  cursor: pointer;
}

#splash-logo {
  margin: 0;
  color: rgb(128, 85, 213);
  font-weight: 900;
  font-size: 100px;
  font-style: normal;
  transform: translateY(-40%);
  font-family: blenny, sans-serif;
  text-shadow: 0rem 1.3rem .6rem rgba(0, 0, 0, 0.85);
}

#splash-logo:hover {
  cursor: pointer;
  transform: scaleZ(+50%);
}

.landing {
  height: 45rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:initial;
}

background-image {
  size: 100%;
}

#ha {
  height: 1.4rem;
  padding: 0rem;
}

.djoke {
  align-items: center;
  text-align: center;
  margin: 3rem 0 3rem 0;
  padding: 10rem;
  border: 1rem solid white;
  display: flex;
  flex-direction: column;
}

.dj {
  border: 0.3rem solid teal;
  background-color: rgb(29, 158, 158);
  border-radius: 1rem;
  padding: 0.2rem;
  font-size: 1.4rem;
  font-weight: bolder;
}