#rsc {
  display:inline-table;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  margin: 0.2rem;
  padding: 0.6rem;
  list-style-type: georgian;
  border: 0.4rem solid purple;
  border-radius: 4rem;
}

#resourceL {
  margin: 7rem;
  padding: 7rem;
  border: 0.4rem solid white;
  border-radius: 4rem;
}

#mostofpage {
  align-content: space-around;
  background-color: rgb(154, 198, 198);
}