li {
  display: block;
  align-items: center;
  margin: 2rem;
  padding: 2rem;
  list-style-type: georgian;
  border: 1rem solid purple;
  border-radius: 4rem;
}

#resourceL {
  margin: 3rem;
  padding: 3rem;
  border: 1rem solid white;
  border-radius: 4rem;
}

#mostofpage {
  align-content: space-around;
  background-color: rgb(154, 198, 198);
}