#rsc {
  display: inline-block;
  flex-direction: row;
  align-items:center;
  position: relative;
  margin: 0.2rem;
  padding: 0.6rem;
  border: 0.3rem solid purple;
  border-radius: 1rem;
  background-color: teal;
  height: 3rem;
  margin: 1rem;
}

#resourceL {
  margin: 7rem;
  padding: 7rem;
}

#mostofpage {
  align-content:space-around;
  background-color: rgb(154, 198, 198);
  margin: 5rem;
}

.rscbtn {
  background-color: rgb(112, 74, 157);
  font-size: 0.9rem;
}